<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    {{> head }}
    
</head>
<body>
    {{>nav}}
    <h1 style="text-align: center; margin-top:60px">404 Error! Page Not Found 🙂</h1>
    {{>footer}}
</body>
</html>