   <div class="navcontainer">
        <nav class="nav">
          <div class="nav-upper-options">
             <a href="/dashboard" class="nav-option option1">
              <img
                src="https://media.geeksforgeeks.org/wp-content/uploads/20221210182148/Untitled-design-(29).png"
                class="nav-img"
                alt="dashboard"
              />
              <span> Dashboard</span>
            </a>

            <a href="/dashboard/repair-requests" class="option2 nav-option">
              <img
                src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183322/9.png"
                class="nav-img"
                alt="articles"
              />
              <span>Repair Requests</span>
            </a>

            <a href="/dashboard/users" class="nav-option option3">
              <img
                src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183320/5.png"
                class="nav-img"
                alt="report"
              />
              <span>Total Registered Users</span>
            </a>

              <a href="/dashboard/our-services" class="nav-option option3">
              <img
                src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183320/5.png"
                class="nav-img"
                alt="report"
              />
              <span>Our Services</span>
            </a>
          </div>
        </nav>
      </div>