   <header>

      <div class="logosec">
        <div class="logo"> <a href="/">Repair-Hub</a></div>
        <img
          src="https://media.geeksforgeeks.org/wp-content/uploads/20221210182541/Untitled-design-(30).png"
          class="icn menuicn"
          id="menuicn"
          alt="menu-icon"
        />
      </div>

  

      {{!-- <div class="message">
        <div class="circle"></div>
        <img
          src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183322/8.png"
          class="icn"
          alt=""
           onclick="showNoti()"
            id="showNoti"
        />
           <div class="noti-container" id="notiContainer">
            
          <div class="noti">
            <img src="../img/profile.png" alt="">
            <div>
                <strong>name</strong> Request
            </div>
            <span>.</span>
          </div>
          <div class="noti">
            <img src="../img/profile.png" alt="">
            <div>
                <strong>name</strong> Request
            </div>
            <span>.</span>
          </div>
          <div class="noti">
            <img src="../img/profile.png" alt="">
            <div>
                <strong>name</strong> Request
            </div>
            <span>.</span>
          </div>
           
          </div>
        <div class="dp" >
          <img
            src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180014/profile-removebg-preview.png"
            class="dpicn"
            alt="dp"
            onclick="showProfile()"
            id="showProfile"
          />
         
          <div class="profile" id="profile">
            
              <ul>
                <li>
                  <i class="fa-solid fa-house"></i>
                  <a href="/">Home</a>
                </li>
                <li>
                  <i class="fa-regular fa-circle-user"></i>
                  <a href="/dashboard/profile">Proflie Settings</a>
                </li>
                 <li onclick="logout()">
                  <i class="fa-solid fa-right-from-bracket fa-rotate-180"></i>
                  <a href="">Logout</a>
                </li>
              </ul>
           
          </div>
        </div>
      </div> --}}

    </header>