   <header>

      <div class="logo-section">
        <div class="logo"> <a href="/">Repair-Hub</a></div>
        <img
          src="https://media.geeksforgeeks.org/wp-content/uploads/20221210182541/Untitled-design-(30).png"
          class="icn menuicn"
          id="menuicn"
          alt="menu-icon"
        />
      </div>

  



    </header>