  <!-- Spinner Start -->
  <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->
 
 
 <!-- Topbar Start -->
 <div class="container-fluid bg-light d-none d-lg-block">
    <div class="row align-items-center top-bar">
        <div class="col-lg-3 col-md-12 text-center text-lg-start">
            <a href="/" class="navbar-brand m-0 p-0">
                <h1 class="text-primary m-0">RMS</h1>
            </a>
        </div>
        <div class="col-lg-9 col-md-12 text-end">
            <div class="h-100 d-inline-flex align-items-center me-4">
                <i class="fa fa-clock text-primary me-2"></i>
                <p class="m-0">9:00am to 9:00pm</p>
            </div>
            <div class="h-100 d-inline-flex align-items-center me-4">
                <i class="far fa-envelope-open text-primary me-2"></i>
                <p class="m-0">info@example.com</p>
            </div>
           
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid nav-bar bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-white p-3 py-lg-0 px-lg-4">
        <a href="/" class="navbar-brand d-flex align-items-center m-0 p-0 d-lg-none">
            <h1 class="text-primary m-0">RMS</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav me-auto">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/about" class="nav-item nav-link">About</a>
                <a href="/service" class="nav-item nav-link">Services</a>
               
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="/booking" class="dropdown-item">Booking</a>
                        <a href="/team" class="dropdown-item">Technicians</a>
                        <a href="/testimonial" class="dropdown-item">Testimonial</a>
                    </div>
                </div>
                <a href="/contact" class="nav-item nav-link">Contact</a>
            </div>
            
            
            <!-- ------------search bar  ------------------------ -->
           <form class=" form-inline my-2 m d-flex">
             <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
           </form>
            <!-- search bar end -->
           

             <!-- loginsystem -->
              <ul class="navbar-nav form-inline my-2 my-lg-0 d-flex" id="authLinks">
    <!-- These buttons will be hidden if the user is logged in -->
    <li class="nav-item" id="loginBtn">
        <a class="btn btn-outline-primary my-2 my-sm-0 mx-2" href="/login">Login</a>
    </li>
    <li class="nav-item" id="signupBtn">
        <a class="btn btn-outline-primary my-2 my-sm-0 mx-2" href="/signup">Sign Up</a>
    </li>
    <!-- Display username if logged in -->
    <li class="nav-item d-none" id="userDropdown">
        <a class="btn btn-outline-success my-2 my-sm-0 mx-2" href="#" id="username"></a>
        <a class="btn btn-outline-danger my-2 my-sm-0 mx-2" href="#" onclick="logout()">Logout</a>
    </li>
</ul>
            <!-- end -->
        </div>
    </nav>
</div>
<!-- Navbar End -->