
  <div class="container-xxl py-5">
  
    <section class="review-section">
           <div class="container">


      

        <h3 class="customers-review-title">Customer Reviews</h3>
        <div id="reviewsContainer">No reviews available.</div>



<div class="leavie-review mt-5 ">
    <h2>Leave Review</h2>
              <div class="stars">
            <span class="star" data-value="1">★</span>
            <span class="star" data-value="2">★</span>
            <span class="star" data-value="3">★</span>
            <span class="star" data-value="4">★</span>
            <span class="star" data-value="5">★</span>
        </div>
        <textarea id="reviewText" placeholder="Write your review here..."></textarea>
        <button id="submitReview">Submit Review</button>
        </div>
    </section>
</div>
</div>
 