<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="../css/dashboard.css" />
      <link rel="stylesheet" href="../css/dashboard/our-services.css">

</head>
<body>

{{>dashboardHeader}}
   <div class="main-container">
     {{>dashboardSidebar}}
      <div class="main">



  <h2>Service Management</h2>
    <button id="addServiceBtn">+ Add New Service</button>

     <!-- Add Service Form -->
    <div id="addServiceForm" style="display: none; margin-top: 10px;">
      <input type="text" id="newServiceName" placeholder="Enter Service Name">
      <button onclick="addService()">Add</button>
    </div>


      <!-- Service List -->
    <table class="repair-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Service Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="serviceTableBody">
        <!-- Dynamic data will be inserted here -->
      </tbody>
    </table>


       
      </div>
    </div>
    
 <script src="../js/dashboard/script.js"></script>
 <script src="../js/dashboard/our-services.js">
 
</script>
</body>
</html>